.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    padding: 2rem;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    margin-top: 3rem;
}

.rango{
    text-align: center;
    padding: 1rem;
    width: 5%;
    height: 5%;
    background-color: rgb(236, 162, 25);
    display: inline-block;
    border-radius: 30px;
}



.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info  div{
    width: 30%;
    
}


.title{
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.card{
    display: inline-block;
    width: 70%;
    border: solid .5px lightgray;
    box-shadow: 4px 4px 15px .5px rgba(148, 148, 184, 0.719);
    padding: 1rem;
    
}



.c1{
    background-color: rgb(253, 144, 144);
}

.c2{
    background-color: rgb(139, 245, 139);
}

.c3{
    background: rgb(151, 214, 235);

}